@model List<QuizApplication.ViewModels.RoleViewModels.UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
    ViewBag.Title = "Edit Users in Role";
    Layout = "_ManageLayout";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper p-5">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit role</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Sub levels</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <form asp-action="EditUsersInRole">
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Add or remove users in this role</h2>
                </div>
                <div class="card-body">
                    @for (var index = 0; index < Model.Count; index++)
                    {
                        <div class="form-check m-1">
                            <input asp-for="@Model[index].Username" type="hidden">
                            <input asp-for="@Model[index].UserId" type="hidden">
                            <input asp-for="@Model[index].IsSelected" class="form-check-input">
                            <label class="form-check-label" asp-for="@Model[index].IsSelected">
                                @Model[index].Username
                            </label>
                        </div>
                    }
                </div>
                <div class="card-footer">

                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" asp-route-roleId="@roleId"/>
                <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary">Cancel</a>
            </div>
        </form>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->